<nav [class.collapsed]="collapsed" class="left-navbar border-end">
  <div [class.small]="collapsed" class="logo">
    <a href="#" i18n-aria-label aria-label="Página principal" routerLink="/">
      <em class="bi bi-headphones"></em>
    </a>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        class="nav-link"
        aria-label="Ir a la lista de Álbumes"
        i18n-aria-label
        href="#"
        routerLinkActive="active"
        routerLink="/albumes"
      >
        <em class="bi bi-disc" ></em>
        <span [class.d-md-inline]="!collapsed" class="d-none" i18n> Albumes </span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        routerLinkActive="active"
        routerLink="/musicos"
      >
        <em class="bi bi-lightning"></em>
        <span [class.d-md-inline]="!collapsed" class="d-none" i18n> Músicos </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="#"  routerLinkActive="active" routerLink="/coleccionistas">
        <em class="bi bi-bookmark"></em>
        <span [class.d-md-inline]="!collapsed" class="d-none" i18n>Coleccionistas</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <em class="bi bi-award"></em>
        <span [class.d-md-inline]="!collapsed" class="d-none" i18n> Premios </span>
      </a>
    </li>
  </ul>
  <div class="nav-item border-top d-none d-md-block">
    <a class="nav-link" href="#" (click)="onCollapseClick($event)">
      <em
        [class.bi-arrow-right-circle]="collapsed"
        class="bi bi-arrow-left-circle"
      ></em>
      <span [class.d-md-inline]="!collapsed" class="d-none" i18n> Colapsar </span>
    </a>
  </div>
</nav>
